# Data Science Tools and Eco system

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
        <ol>
               <li> python </li>
               <li> R </li>
               <li> SQL </li>
    </ol>

Some of the popular libraries that Data Scientists use are:
    <ol>
           <li> Pandas </li>
           <li> Numpy  </li>
           <li> Scipy  </li>
    </ol>

<table>
    <tr>
        <th> Data science tools </th>
     </tr>
    <tr> <td> R Studio </td> </tr>
    <tr> <td> Jupyter </td> </tr>
    <tr> <td> Tableau </td> </tr>
    
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular Libraries for Data Science</li>
    <li>List popular Tools for Data Science</li>
</ul>

## Author
Aswini N